.icon-box {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: .5px solid #111; */
}

.iconBtn {
  /* background-color: rgb(196, 196, 196); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    336deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.iconBtn:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    336deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.icon-box.active {
  background-color: #111;
}

.profile-dropdown {
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
  /* position: absolute; */
  /* display: flex; */
}

.logoutBtn {
  border-style: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
