/* index */
.login-box {
  display: flex;
  justify-content: center;
}

.logInBtn {
  background: #333;
  color: white;
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal */
.login-modal-container {
  outline: 2px solid white;
  border-style: none;
  border-radius: 4px;
  height: 25rem;
  width: 30rem;
}

.login-modal-box {
  padding: 1.2rem;
}

.signIn-text {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
  white-space: nowrap;
  font-size: 1.5rem;
  color: #333;
}

.login-errors {
  margin: 6px 0px 0px 0px;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.user-login {
  margin: 6px 0px 0px 0px;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.init {
  width: 12rem;
  padding: 3px;
  font-weight: bold;
}

.init-credential,
.init-password {
  width: 12rem;
  padding: 3px;
}

.logInModal {
  background-color: #ff5501;
  border-color: #ff5501;
}

.logInSubmit {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.line {
  width: 40%;
  border: 1px solid #333;
  margin: 10px;
}

.divider {
  display: flex;
  justify-content: center;
  align-content: center;
}

.demoBtn {
  margin-top: 2px;
}

.demo,
.demoBtn {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10px 0 0 0;
}

.lp1,
.lp2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 20px;
}

.demoUser {
  padding: 8px 15px;
}
