.signUpBtn {
  background-color: #ff5501;
  border: 1px solid #ff5501;
  color: white;
  border-radius: 3px;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  cursor: pointer;
}

.signUpText {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}

.signUpInput {
  margin: 6px 0px 0px;
  padding: 10px;
}

.signUpModal {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}

.input {
  padding: 7px 8px;
}

.sp1, .sp2 {
  display: grid;
  justify-content: center;
  align-items: center;
}
