/* .album-info-container {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: cadetblue;
}

.album-img-box > img {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
}

.album-description {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    height: 50px;
    width: 80px;
}

.delete-album-button {
    background-color: red;
} */


/* .album-info-container {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw; */
    /* background-color: cadetblue; */
    /* height: 300px;
} */

.album-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-details-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover-image {
    transform: scale(.7);
    height: 35rem;
    width: 35rem;
}

.album-info {
    width: 25rem;
    padding: 10px;
}

.album-desc-title {
    padding: 10px 0;
}

.asdf {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100px;
}

.edit-album-buttons {
    display: flex;
}

.delete-album-button {
    background-color: red;
    border: 2px solid red;
    cursor: pointer;
}
