.create-album-component {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.create-album-details {
    border: 2px solid cornflowerblue;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.create-album-input {
    border: 2px solid magenta;
    display: grid;
    justify-content: center;
    align-items: center;
}

.create-album-buttons {
    border: 2px solid yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.create-album-button,
.create-album-cancel-button {
  margin-top: 2px;
  padding: 8px 15px;
  cursor: pointer;
}
