.create-song-component {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.create-song-details {
  border: 2px solid cornflowerblue;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.create-song-input {
  border: 2px solid magenta;
  display: grid;
  justify-content: center;
  align-items: center;
}

.create-song-buttons {
  border: 2px solid yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create-song-button,
.create-song-cancel-button {
  margin-top: 2px;
  padding: 8px 15px;
  cursor: pointer;
}
