.homeBtn {
  background-color: #333;
  border: 0.5px solid #111;
  border-top: none;
  border-bottom: none;
  color: white;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  /* border-radius: 3px; */
  /* text-align: center; */
}
/*
.homeBtn.active {
  background-color: #111;
} */
