.homeBtn {
  border: 0.5px solid white;
  color: white;
  background-color: #111;
  border-radius: 3px;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
}
