.icon-box {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid #111;
}

.iconBtn {
  background-color: rgb(196, 196, 196);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: none;
}

.iconBtn:hover {
  background-color: rgb(224, 224, 224);
}

.icon-box.active {
  background-color: #111;
}

.profile-dropdown {
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
  /* position: absolute; */
  /* display: flex; */
}

.logoutBtn {
  border-style: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
