.uploadBtn {
  background: transparent;
  border: 0.5px solid #111;
  border-top: none;
  border-bottom: none;
  color: white;
  padding: 4px 15px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
}
