.edit-album-form-container {
  padding: 1.2rem;
}

.edit-album-text {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
  white-space: nowrap;
  font-size: 1.5rem;
}

.album-input {
  margin: 6px 0px 0px 0px;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.enter-album {
  width: 12rem;
  padding: 3px;
  font-weight: bold;
}

.save-button-edit-album {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10px 0 0 0;
}

.save-button-album {
  margin-top: 2px;
  padding: 8px 15px;
}
