.signUpBtn {
  background-color: #ff5501;
  border: 1px solid #ff5501;
  color: white;
  border-radius: 3px;
  padding: 4px 26px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  cursor: pointer;
}

/* modal */
.signup-modal-container {
  outline: 2px solid white;
  border-style: none;
  border-radius: 4px;
  height: 25rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.signup-modal-box {
  padding: 1.2rem;
}

.signup-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 10px;
  white-space: nowrap;
  font-size: 1.5rem;
  color: #333;
}

.signup-errors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-init {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-input {
  width: 15rem;
  padding: 3px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.init-signup {
  outline: none;
  height: 2rem;
  width: 30rem;
  padding: 3px;
}

.sp1,
.sp2 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: sans-serif;
}

.signUpBtnModal {
  background-color: #ff5501;
  border: 1px solid #ff5501;
  color: white;
  border-radius: 3px;
  padding: 8px 30px;
  font-size: 14px;
  font-family: sans-serif;
  white-space: nowrap;
  cursor: pointer;
}
