.song-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.song-info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}

.song-image-detail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 25em;
  width: 25em;
}

.song-info-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.song-info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
}

.song-details-album-title > a {
  color: #333
}

.song-details-album-title > a:hover {
  color: #FF5501;
}

.user-song-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.song-detail-buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.delete-song-button {
  cursor: pointer;
  border-style: none;
  padding: 8px 30px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 4px;
  background-color: rgb(220, 0, 0);
  color: white;
}

.delete-song-button:hover {
  background-color: rgb(153, 1, 1);
}

.bottom-song-container {
  width: 300px;
}

.song-info-right,
.song-info-div {
  line-height: 1.2;
}
