.song-info-div {
  /* border: 4px solid cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.song-image-detail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 25em;
  width: 25em;
}

.song-info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 10px;
}

.song-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.user-song-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.song-detail-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.delete-song-button {
  cursor: pointer;
  border-style: none;
  padding: 8px 30px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 4px;
  background-color: rgb(220, 0, 0);
  color: #ccc;
}

.delete-song-button:hover {
  color: white;
}

.footer-container {
  width: 300px;
}

.song-info-right,
.song-info-div {
  line-height: 1.2;
}

.song-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

/*
.play-button {
  color: white;
  align-items: center;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.play-button:hover {
  background-color: #ff5501;
  transform: scale(1.5);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.play-button i {
  font-size: 2rem;
} */
