.soundCloudText {
  background: black;
  border-style: none;
  color: white;
  padding: 4px 15px;
  font-size: 14px;
  white-space: nowrap;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
