.soundCloudText {
  background: black;
  border-style: none;
  border-radius: 4px;
  color: white;
  padding: 4px 15px;
  font-size: 14px;
  white-space: nowrap;
  font-family: sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(4%); */
}
