.splashNavBar {
  background-color: #333;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

.navLinksContent {
  /* justify-content: flex-start; */
  margin: 0 10px;
}

.sessionLinks {
  display: flex;
  justify-content: flex-end;
  margin: 0 15px;
}

.homeBtn {
  border: 0.5px solid white;
  color: white;
  border-radius: 3px;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
}
