.logged-in-nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.logged-in-right {
  display: flex;
  justify-content: center;
}

/* Splash Page */
.splash-nav {
  background-color: #CCC;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
}

.splash-nav-left {
  display: flex;
  justify-content: center;
}

.splash-nav-right {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

.player-box {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.banner-component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
