.fas {
    /* background-color: green; */
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.iconBtn {
    background-color: red;
    height: 40px;
}

.profile-dropdown {
    background-color: white;
}

.logoutBtn {
    border-style: none;
    background-color: white;
    cursor: pointer;
}
