.logInBtn {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
}

.logInModal {
  background-color: #ff5501;
  border-color: #ff5501;
  display: flex;
}

.userLogin {
  margin: 60px 0px 20px;
  padding: 25px;
}

.init {
  padding: 7px 8px;

}

.logInSubmit {
  display: flex;
  justify-content: center;
}

.line {
  width: 53px;
  height: 0;
  border: .5px solid black;
  margin: 3px;
  display:inline-block;
}

/* *{
  background-color: red;
} */
