.login-box {
  display: flex;
  justify-content: center;
  /* align-items: center; */

}

.logInBtn {
  background: #333;
  color: white;
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.login-modal-container {
  padding: 1.2rem;
  border-style: none;
}

.logInModal {
  background-color: #ff5501;
  border-color: #ff5501;
}

.signInText {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
  white-space: nowrap;
  font-size: 1.5rem;
}

.userLogin {
  margin: 6px 0px 0px;
  padding: 10px;
}

.init {
  padding: 5px 10px;
}

.init-credential, .init-password {
  width: 12rem;
  padding: 3px;
}

.logInSubmit {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.line {
  width: 40%;
  border: 1px solid #333;
  margin: 10px;
}

.divider {
  display: flex;
  justify-content: center;
  align-content: center;
}

.demoBtn {
  margin-top: 2px;
}

.demo,
.demoBtn {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10px 0 0 0;
}

.lp1, .lp2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 20px;
}

.demoUser {
  padding: 8px 15px;
}
