.logInBtn {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
}

.logInModal {
  background-color: #ff5501;
  border-color: #ff5501;
}

.signInText {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}

.userLogin {
  margin: 6px 0px 0px;
  padding: 25px;
}

.init {
  padding: 2px 8px;
}

.logInSubmit {
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}

.line {
  width: 40%;
  border: 0.5px solid black;
  margin: 3px;
}

.divider {
  display: flex;
  justify-content: center;
  align-content: center;
}

.demo,
.demoBtn {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}
